.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 0; /* reset after navbar removal */
  padding-bottom: 50px;
}

.main-content {
  flex: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}